1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

* Answer :
* '*' ==> Expression
* 'hello' ==> Value
* -87.8 ==> Value
* '-'  ==> Expression
* / ==> Expression
* '+' ==> Expression
* 6 ==> Value

2. what is the difference between string and variable?

* Answer: String is a datatype and variable is used to store data in it.
Example : a = 'hello' 
* Here, 'a' is a variable and 'hello' is a string stored in a variable

3. Describe three different data types
Answer: 
* String(str) --> One or more characters described in a single,double or triple quotes --> Example: "hello"
* Integer(int) --> positive or negative whole numbers --> Example: 1
* List(list) --> ordered collection of data which is placed inside square brackets --> Example: [1,2,3]

In [11]:
a = 'hello'
b = 1.23
c = [1,2,3]
print(type(a))
print(type(b))
print(type(c))

<class 'str'>
<class 'float'>
<class 'list'>

4. What is an expression made up of? What do all expressions do?
* Answer : An expression is a combination of values, variables,mathematical operators, operands which returns a value. All expressions represent a value.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?
* Answer : Statements are used to create a variable or to perform a certain task whereas, an expression is a combination of values, variables,mathematical operators, operands which returns a value.

6. After running the following code, what does the variable bacon contain?
* bacon = 22
* bacon + 1
* Answer : bacon stays with same value of 22. This is because, after declaring a variable 'bacon' with a value of 22, we didn't assign any variable to perform the expression 'bacon + 1'. So, bacon stays with the same value

In [17]:
bacon =22

In [18]:
bacon+1

23

In [19]:
bacon

22

7. What should the values of the following two terms be?
* 'spam' + 'spamspam'
* 'spam' * 3
* Answer :
* 'spam' + 'spamspam' = 'spamspamspam'
* 'spam' * 3 = 'spamspamspam'

In [14]:
'spam'+'spamspam'

'spamspamspam'

In [15]:
'spam'*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
* Answer : eggs is a valid variable name and 100 is invalid because as per the naming conventions, a variable name must start with a letter or a underscore character and should not start with a number. Also, a variable name should contain only alpha-numeric characters.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?
* Answer : int(), float(), str() can be used to get the integer, floating point number or string version of a value respectively

In [13]:
print(int(5))
print(float(5))
print(str(5))

5
5.0
5

10. Why does this expression cause an error? How can you fix it? 'I have eaten' + 99 + 'burritos'
* Answer : We cannot concatenate an integer to string. 99 is an integer so, this expression causes an error.

In [16]:
'I have eaten'+99+'burritos'

TypeError: can only concatenate str (not "int") to str